*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}
#products .product-galleri
{
display: grid;
grid-template-columns:repeat(3, 1fr);
grid-template-rows: repeat(2,auto);
max-width: 50rem;
margin-inline: auto;
margin-top: 100px;
margin: auto;
flex-direction: row;
}
#products .product-galleri > img
{
width: 100%;
aspect-ratio: 1/1;
object-fit: cover;
transition: 
scale 300ms ease,
opacity 350ms linear ;
}
#products .product-galleri:has(img:hover) > img:not(:hover)
{
scale: .8;
opacity: .7;
}
body
{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif ;
    scroll-behavior: smooth;  
}
.contact-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight:normal;
    color: #fdfff7;
    line-height: 1.5;
    margin-bottom: 10px;
}
  .about-container
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
.about-me-tekst
{
    font-size: 16px;
    font-weight:normal;
    color: #fdfff7;
    line-height: 1.5;
    margin-bottom: 10px;
    
}
  

nav
{
    background: black
    ;
    height: 80px
    width 100%;
}
.footer
{
background-color: #626267;
color: #fdfff7;
text-align: center;
position: absolute ;
bottom: 0;
width: 100%;
margin-top: auto;

}

.headline-small,
.headline-medium,
.headline-large
{
white-space: nowrap;
}

.home-container
{
    display: flex;
    align-items: center;
    margin: bottom 20px;
}
.headline-text
{
margin: 0;
}
.headline-small
{
font-size: 24px;
font-weight: bold;
color: #ee7202;   
}
.headline-medium
{
font-size: 38.83px;
font-weight: bold;
color: #ee7202;   
}
.headline-large
{
font-size: 62.83px;
font-weight: bold;
color: #ee7202;   
}
.pro-pic
{
width: 50%;
height: auto;
display: block;
float: left;
margin-top: 0%;


}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
display: inline-block;
line-height: 80px;
margin: 0 5px;

}
nav ul li a
{
color: #fdfff7;
font-size: 16px;
text-transform: uppercase;
padding: 7px 13px;
border-radius: 3px; ;
}
label.logo
{
color:#ee7202 ;
font-size: 24px; 
line-height: 80px;
padding: 0 50px;
font-weight: bold;
outline-color: black;




}



a.active,a:hover
{
background: #ee7202;
transition: .5;

}
/* this is for half a screen*/
@media(max-width: 952px)
{
    .home-container
    {
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: 100px;
    }
    .pro-pic
{
width: 50%;
height: auto;
display: block;
float: left;
margin: 200px 0 100px;

}
.headline-small,
.headline-medium,
.headline-large
{
white-space: nowrap;
}

.headline-small
{
font-size: 14.83px;
font-weight: bold;
color: #ee7202;   
}

.headline-medium
{
font-size: 24px;
font-weight: bold;
color: #ee7202;   
}

.headline-large
{
font-size: 38.83px;
font-weight: bold;
color: #ee7202;   
}

.footer
{
background-color: #626267;
color: #fdfff7;
text-align: center;
padding: 20px;
width: 100%;
margin-top: auto;
}

    label.logo
    {
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a
    {
        font-size:10px ;
    }
}
/* phone size */
@media(max-width: 600px)
{
    .product-galleri img
    {
    display: flex;
    max-width: 50rem;
    margin-inline: auto;
    margin-top: 100px;
    margin: auto;
    flex-direction:column;
    flex-wrap: wrap ;
    }
    #products .product-galleri > img
    {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 
    scale 300ms ease,
    opacity 350ms linear ;
    }
    #products .product-galleri:has(img:hover) > img:not(:hover)
    {
    scale: .8;
    opacity: .7;
    }
    .contact-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight:normal;
    color: #fdfff7;
    line-height: 1.5;
    margin-bottom: 10px;
}
  .about-container
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 600px;
    margin: auto;
    max-width: 80%;
    background-color: black;
    margin-top: 440px;  
    
  }
.about-me-tekst
{
    font-size: 14px;
    font-weight:normal;
    color: #fdfff7;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
    background-color: black;
    max-width: 600px;
    margin-left: 500px;
    width: 400px;
   
}

    .home-container
    {
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: 200px;
    }
    .pro-pic
{
width: 50%;
height: auto;
display: block;
float: left;
margin: 200px 0 100px;

}

.headline-small
{
font-size: 80%;
font-weight: bold;
color: #ee7202;   
}

.headline-medium
{
font-size: 80%;
font-weight: bold;
color: #ee7202;   
}

.headline-large
{
font-size: 80%;
font-weight: bold;
color: #ee7202;   
}

footer
{
background-color: #626267;
color: #fdfff7;
text-align: center;
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;
margin-top: auto;
}

    label.logo
    {
        font-size: 30px;
        padding-left: 50px;
        margin-bottom: 50px;

    }
    nav ul li a
    {
        font-size:10px ;
    }
    ul
    {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: 0;
        text-align: center;
      


    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
   
    a:hover,a.active
    {
        background: none;
        color: #ee7202;
    }
}


@media(max-width: 858px)
{
    
     ul
    {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: 0;
        text-align: center;
      


    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        font-size: 20px;
    }
    a:hover,a.active
    {
        background: none;
        color: #ee7202;
    }
    .pro-pic
    {
        float: left;


    }
    #products .product-galleri
{
display: grid;
grid-template-columns: repeat(3, 2fr);
grid-template-rows: repeat(3,auto);
max-width: 50rem;
margin-inline: auto;
float: right;
margin-top: 100px;
}
#products .product-galleri > img
{
width: 100%;
aspect-ratio: 1/1;
object-fit: cover;
transition: 
scale 300ms ease,
opacity 350ms linear ;
}
#products .product-galleri:has(img:hover) > img:not(:hover)
{
scale: .8;
opacity: .7;
}
}
/*
#products .product-galleri
{
display: grid;
grid-template-columns: repeat(3, 2fr);
grid-template-rows: repeat(3,auto);
max-width: 50rem;
margin-inline: auto;
float: right;
}
#products .product-galleri > img
{
width: 100%;
aspect-ratio: 1/1;
object-fit: cover;
transition: 
scale 300ms ease,
opacity 350ms linear ;
}
#products .product-galleri:has(img:hover) > img:not(:hover)
{
scale: .8;
opacity: .7;
}*/






    

